<h1>Reset your password</h1>
<p>Hello {{username}},</p>
<p>We received a request to reset your password. If you did not make this request, please ignore this email.</p>
<p>To reset your password, click the link below:</p>
<p><a href="{{resetUrl}}">{{resetUrl}}</a></p>
<p>If you're having trouble with the link, copy and paste the URL into your browser.</p>
<p>Thank you!</p>