<h1>Welcome to Buzz Bridge</h1>
<p>Hello {{username}},</p>
<p>Your account has been successfully created. Here are your temporary
  credentials:</p>
<ul>
  <li><strong>Username:</strong> {{username}}</li>
  <li><strong>Password:</strong> {{password}}</li>
</ul>
<p>Please log in using these credentials and change your password immediately.</p>
<p>Thank you for joining us!</p>